spring:
    application:
        name: mall-gateway
    config:
        import:
            - nacos:${spring.application.name}.${spring.cloud.nacos.config.file-extension}?refreshEnabled=true
    cloud:
        gateway:
            routes:
                - id: test_route
                  uri: http://www.baidu.com
                  predicates:
                    - Query=url,baidu
                - id: qq_route
                  uri: http://www.qq.com
                  predicates:
                    - Query=url,qq
        nacos:
            username: nacos
            password: nacos
            discovery:
                server-addr: 127.0.0.1:8848
            config:
                server-addr: 127.0.0.1:8848
                namespace: f5b4607f-d0f4-47f7-9ce3-9216dfe38169
                file-extension: yml
            


server:
    port: 88